/* Add styles here */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #131313;
    color: whitesmoke;
}
h1 {
    font-size: 64px;
    margin-left: 10px;
}
p {
    font-size: 24px;
    margin-left: 10px;
}
#Introductions {
    position: relative;
    text-align: left;
    left: 0;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 50%;
    margin-top: 20px;
    background-color: #353535;
}
.AI {
    background-color: #353535;
    padding: 4px;
    text-align: left;
    margin: 10px;
    border-radius: 8px;
}
/* Things I barrowed from W3Schools */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #000000;
    position: fixed;
    right: 0;
    height: 100%;
    overflow: auto;
}
.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}
.sidebar a:hover {
    background-color: #f1f1f1;
    color: black;
}
* {
    box-sizing: border-box;
}
img {
    border-radius: 8px;
    width: 300px;
    height: 300px;
}
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}
.row {
    margin: 0 -5px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.card {
    padding: 16px;
    text-align: center;
    border-radius: 8px;
    background-color: #353535;
}
div.content {
    margin-right: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
.footer {
    position: fixed;
    text-align: left;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #353535;
}
.container {
    display: flex;
    flex-direction: column;

}
.contact_column {
    float: left;
    width: 25%;
    padding: 0 10px;
}
.contact_row {
    margin: 0 -5px;
    position: relative;
    margin-top: 20px;
}
.contact_row:after {
    content: "";
    display: table;
    clear: both;
}
.contact_card {
    padding: 16px;
    text-align: center;
    border-radius: 8px;
    background-color: #353535;
}